@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-title: 'Duke', serif;
  --font-body: 'ElectronicArtsText', sans-serif;
  --color-primary: #ed3615;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  background-image: url('/images/bgd.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  z-index: -1;
}

.subtitle {
  @apply text-sm uppercase tracking-wide text-zinc-400 mb-2;
}

@font-face {
  font-family: 'Duke';
  src: url('/fonts/duke/Duke.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ElectronicArtsText';
  src: url('/fonts/ElectronicArtsText-Regular/ElectronicArtsText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

